<div>
    <h5>{{this.name}}</h5>
    <p>{{this.country}}</p>
    <p>{{this.address}}</p>
    <a href="/castles/{{this._id}}/edit">Edit Castle</a>
    <form action="/castles/{{this._id}}/delete" method="POST">
        <button>Delete</button></form>
</div>