<form action="/castles/{{_id}}/edit" method="POST" id="form-container">
    <div>
        <label for="input-name">Castle Name</label>
        <input type="text" id="input-name" name="name" value="{{this.name}}" />
    </div>

    <div>
        <label for="input-country">Country</label>
        <input type="text" id="input-country" name="country" value="{{this.country}}" />
    </div>

    <div>
        <label for="input-address">Address</label>
        <input type="text" id="input-address" name="address" value="{{this.address}}" />
    </div>

    <div>
        <label for="input-image">Image</label>
        <input type="text" id="input-image" name="image" value="{{this.image}}" />
    </div>

    <div>
        <label for="input-capacity">Capacity</label>
        <input type="number" id="input-capacity" name="capacity" value="{{this.capacity}}" />
    </div>

    <div>
        <label for="input-link">Link</label>
        <input type="text" id="input-link" name="link" value="{{this.link}}" />
    </div>

    <div>
        <label for="input-description">Description</label>
        <input type="text" id="input-description" name="description" value="{{this.description}}" />
    </div>

    <div>
        <label for="input-pun">Review</label>
        <input type="text" id="input-pun" name="pun" value="{{this.pun}}" />
    </div>

      <div>
        <label for="input-lat">Latitude</label>
        <input type="number" id="input-lat" name="lat" value="{{this.lat}}" />
    </div>

     <div>
        <label for="input-lng">Longitude</label>
        <input type="number" id="input-lng" name="lng" value="{{this.lng}}" />
    </div>

    <div>
        <button type="submit">Update Castle</button>
    </div>
</form>