
{{#each castlesFromDB }}
        <h1>{{this.name}}</h1>
        <p>{{this.address}}</p>
        
        <a href= "/castles/{{_id}}/edit">Edit Castle</a>
          <button><a href="/castle/{{_id}}" id="view-castle">View this Castle</a></button>
        <form action="/castles/{{_id}}/delete" method="POST">
        <button>Delete</button>
        </form>

{{/each}}

